html {
    --lumo-primary-color: #0073e6;
    --lumo-error-color: #ef4343;
    --lumo-warning-color: #ffbf00;
    --lumo-base-color: #f3f5f7;
    --lumo-font-family: Montserrat, sans-serif;
    overflow-y: scroll;
}

vaadin-button {
    background-color: var(--lumo-primary-color);
    color: var(--lumo-base-color);
}

vaadin-button:hover {
    background-color: var(--lumo-warning-color);
    color: var(--lumo-shade);
    transition: background-color 0.2s ease, color 0.2s ease;
}

main vaadin-vertical-layout {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
}

main > vaadin-vertical-layout {
    flex-grow: 1;
}

.header {
    overflow: auto;
    display: grid;
    grid-template-columns: 10vw fit-content(min(40%)) auto;
    grid-template-rows: auto;
    flex-flow: row;
    padding-left: 5vw;
    background-color: var(--lumo-primary-color);
    color: #f2f2f3;
    font-size: var(--lumo-font-size-l);
}

.header div {
    padding: 10px;
    content: url("images/logo-ies.png");
    max-height: 10vh;
}

.header .action-buttons {
    padding: 0;
    content: none;
    max-height: none;
}

.header vaadin-card {
    background-color: inherit;
    max-height: 10vh;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1rem;
    border-left: solid var(--lumo-warning-color);
    border-radius: unset;
}

.header vaadin-card h1 {
    color: #f2f2f3;
    font-weight: bold;
    font-size: var(--lumo-font-size-xl);
}

.header vaadin-card p {
    margin: unset;
    font-size: var(--lumo-font-size-s);
}

.content-header {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.content-header h1 {
    justify-content: center;
    font-size: var(--lumo-font-size-xxxl);
    color: var(--lumo-header-text-color);
}

.content-header h2 {
    font-weight: lighter;
    font-size: var(--lumo-font-size-xl);
    color: var(--lumo-shade-50pct);
}

.content-header vaadin-button {
    color: var(--lumo-primary-color);
}

.content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
    align-items: center;
    padding: 5vh 20vw 5vh 20vw;
}

.content vaadin-upload {
    width: 80%;
}


.content vaadin-upload::part(primary-buttons) {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.content vaadin-upload vaadin-upload-icon {
    display: none;
}

.content vaadin-upload > [slot="drop-label"] {
    font-size: var(--lumo-font-size-xxs);
}

.content vaadin-upload > [slot="add-button"] {
    margin: 0;
    min-width: fit-content;
    background-color: var(--lumo-shade-10pct);
}

.content vaadin-card {
    background-color: inherit;
    border: solid 2px var(--lumo-shade-30pct);
}

.content > vaadin-card::part(content) {
    border: solid 1px var(--lumo-shade-20pct);
}

.committee-fields vaadin-card {
    border: none;
    margin-bottom: 5px;
}

.content vaadin-card vaadin-text-field {
    margin: 10px;
}


.content vaadin-card vaadin-email-field {
    margin: 10px;
}

.content vaadin-button {
    margin-left: 25%;
    max-width: 50%;
}

.content .warning-description {
    margin-left: 17.5%;
    margin-right: 17.5%;
    max-width: 65%;
    border-radius: 4px;
}

.content .warning-description vaadin-icon {
    font-size: 0.5rem;
}

.footer {
    display: grid;
    grid-template-columns: auto;
}

.footer vaadin-card::part(content) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer vaadin-icon {
    margin-right: 0.7vw;
    padding-bottom: 3px;
    font-size: 0.6rem;
}


.submission-success {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submission-success > :not(vaadin-markdown) {
    min-width: 60vw;
}

.success-card {
    background-color: rgba(157, 229, 183, 0.1);
    border: solid 1px rgba(15, 245, 111, 0.3);
}

.success-card::part(content) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vh 2vw 2vh 2vw;
}

.success-card vaadin-icon {
    border-radius: 50%;
    background-color: rgba(27, 138, 67, 0.1);
    font-size: var(--lumo-font-size-xxxl);
    color: rgba(27, 138, 67, 0.9);
    margin-bottom: 10px;
}

.success-card vaadin-card {
    box-shadow: 0 0 5px 2px rgba(66, 210, 119, 0.3);
    background-color: var(--lumo-base-color);
}

.success-card vaadin-card::part(content) {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
}

.success-card vaadin-card h1 {
    margin-left: 2vw;
    margin-right: 2vw;
    color: rgba(18, 112, 56, 0.9);
    font-weight: 600;
    font-size: var(--lumo-font-size-s);
    text-transform: uppercase;
}

.success-card vaadin-card div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.success-card vaadin-card p {
    margin-top: 0.7em;
    font-weight: 700;
}

.success-card vaadin-card .creation-date {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    color: rgba(26, 138, 71, 0.6);
    font-size: var(--lumo-font-size-s);
}

.success-card vaadin-card vaadin-icon {
    margin: 0;
    align-self: center;
    justify-self: center;
    font-size: var(--lumo-font-size-xxxl);
    color: rgba(27, 138, 67, 0.9);
}


.success-card vaadin-button {
    margin-left: 5px;
    padding: 0;
    background-color: transparent;
}

.success-card vaadin-button:hover {
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: rgba(27, 138, 67, 0.1);
}

.success-card vaadin-button vaadin-icon {
    font-size: var(--lumo-font-size-l);
    background-color: transparent;

}

.success-card h1 {
    color: rgba(12, 70, 34, 0.9)
}

.success-card p {
    color: rgba(18, 112, 56, 0.9)
}

.success-info-card {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
}


.success-info-card vaadin-card {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5px;
}

.success-info-card vaadin-card h1 {
    margin-top: 10px;
    font-size: var(--lumo-font-size-xxl);
    color: var(--lumo-header-text-color);
}

.success-info-card vaadin-card vaadin-icon {
    font-size: var(--lumo-font-size-m);
    color: var(--lumo-primary-color);
}

.success-info-card vaadin-card vaadin-card {
    padding: 0;
    min-width: 40vw;
}

.success-info-card vaadin-card vaadin-card h1 {
    font-size: var(--lumo-font-size-l);
}

.success-info-card vaadin-card vaadin-text-field {
    margin-right: 5px;
}

.success-info-card vaadin-card vaadin-text-field::part(label) {
    font-size: var(--lumo-font-size-l);
}

.success-info-card vaadin-card vaadin-text-field::part(input-field) {
    font-weight: 600;
    color: var(--lumo-shade-90pct);
    font-size: var(--lumo-font-size-m);
    min-width: fit-content;
}

.success-info-card vaadin-card vaadin-email-field {
    margin-left: 5px;
}

.success-info-card vaadin-card vaadin-email-field::part(label) {
    font-size: var(--lumo-font-size-l);
}

.success-info-card vaadin-card vaadin-email-field::part(input-field) {
    font-weight: 600;
    color: var(--lumo-shade-90pct);
    font-size: var(--lumo-font-size-m);
}

.action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.action-buttons vaadin-button {
    min-height: 60px;
    margin: 0 10px;
    min-width: 120px;
}

.action-buttons vaadin-button:hover {
    transition: background-color 0.2s ease, color 0.2s ease;
}

.next-steps-tooltip {
    max-width: 450px;
    background-color: rgba(117, 174, 245, 0.1);
    border-radius: 10px;
    padding: 10px;
    border: #88a7d2 2px solid;
    color: var(--lumo-primary-color)
}

.next-steps-tooltip h3 {
    max-width: 400px;
    font-size: var(--lumo-font-size-m);
    color: #18459b;
}

.next-steps-tooltip ul {
    max-width: 400px;
    font-size: var(--lumo-font-size-s);
}


.tracking-content {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: fit-content(100%) fit-content(100%);
}

.tracking-content .tracking-search-card {
    background-color: transparent;
    border: dashed 2px var(--lumo-shade-10pct);
    grid-column-start: 2;
    grid-column-end: 5;
}

.tracking-content .tracking-search-card vaadin-button {
    margin-left: 10px;
}

.tracking-content .tracking-search-card h1 {
    font-weight: bolder;
    font-size: var(--lumo-font-size-xl);
}

.tracking-content .tracking-search-card h2 {
    font-weight: lighter;
    color: var(--lumo-shade-40pct);
    font-size: var(--lumo-font-size-m);
}

.tracking-content .tracking-search-card vaadin-text-field {
    font-size: var(--lumo-font-size-xxs);
}

.tracking-content .tracking-details {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
}

.tracking-content .tracking-details h1 {
    font-weight: bolder;
    font-size: var(--lumo-font-size-l);
}

.tracking-content .tracking-details h2 {
    margin-bottom: 5px;
    font-weight: lighter;
    color: var(--lumo-shade-90pct);
    font-size: var(--lumo-font-size-s);
}

.tracking-content .tracking-details span {
    margin-top: 5px;
    font-size: var(--lumo-font-size-l);
}

.tracking-content .tracking-details p {
    font-size: var(--lumo-font-size-xs);
    color: var(--lumo-shade-40pct);
}

.tracking-content .tracking-details vaadin-card {
    background-color: transparent;
}

.tracking-content .tracking-details vaadin-card h3 {
    margin-top: 10px;
    font-size: var(--lumo-font-size-l);
    color: var(--lumo-shade-80pct);
    background-color: transparent;
}

.tracking-content .tracking-details vaadin-card p {
    font-size: var(--lumo-font-size-s);
    color: var(--lumo-shade-80pct);
    background-color: transparent;
}
